*{
	padding: 0;
	margin: 0;
}
html {
	font-size: 100%;
}
body {
	font-family: Montserrat;
	width: 100%;
}
img {
	width: 100%;
}
h1, h2 {
	padding: 3.5rem 0 1rem 0;
	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;
}
h2 {
	padding: 2rem 0;
	font-size: 1.3rem;
	color: #eee;
}
.content {
	width: 30rem;
	height: 30rem;
	margin: 1rem auto;
	background: #282828;
    color: #fff;
}

#maingame .content{
	display: none;
}
#maingame .content:first-child{
	display: block;
}
.menu__button{
	display: flex;
	justify-content: space-between;
	width: 81%;
	margin: 2rem auto;
	background: inherit;
}
._button{
	background: inherit;
    color: inherit;
    border: 2px solid #686868;
    box-sizing: border-box;
}
.button__end,
.button__restart{
	padding: 0.5rem 2rem;
    font-size: 1rem;
}
.button__start{
	width: 7rem;
	height: 7rem;
    font-size: 6rem;
}
._button:hover{
	cursor: pointer;
	border: 2px solid #fff;
	background-color: #454444;
}

/* игровое поле */
.game__message{
	padding: 2rem 0;
	font-size: 1.2rem;
	text-transform: uppercase;
	text-align: center;
}
.game__table{
    list-style: none;
    width: 60%;
    margin: 0 auto;
    border-left: 1px solid #DFDFDF;
    border-top: 1px solid #DFDFDF;
    pointer-events: auto;
}
.disabled__pointer_events{
	pointer-events: none;
}
.table__row{
	display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.table_cell {
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    font-size: 7rem;
    box-sizing: border-box;
    background-color: inherit;
    /*pointer-events: none;*/
}
.table_cell:hover{
	background-color: #454444;
	cursor: pointer;
}
.game__button{
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin: 0rem auto;
	padding-top: 2rem;
	background: inherit;
}

.hide{
	display: none;
}
